# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs and editors
.vscode/
.idea/

# Logs and reports
*.log
.coverage
.pytest_cache/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# Ignore SQLite database file
bot.db

# Ignore node modules
node_modules/
